@import './colors';

.upper {
  text-transform: uppercase;
}

.action-button {
  position: absolute;
  right: $views-padding;
  bottom: $views-padding;
  font-size: 4em;
}


.btn-circle {
  font-size: 15px;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  &.btn-md {
    font-size: 20px;
  }

  &.btn-lg {
    font-size: 25px;
  }

  &.btn-xl {
    font-size: 30px;
  }
}

.t-header {
  color: darken($color_background, 50);
  text-transform: uppercase;
}
