@import "./constants";


.widget {
  width: (2 * $widget-width-unit) + $grid-gap;
  height: (2 * $widget-height-unit) + $grid-gap;
  grid-row: span 2;
  grid-column: span 2;

  padding: 20px;
  background-color: $color_primary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  box-shadow: 0px 6px 16px -6px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 6px 16px -6px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 6px 16px -6px rgba(0, 0, 0, 0.77);
  border-radius: 10px;
  border: 1px solid lighten($color_primary, 10);
}

.title {
  align-self: center;
  justify-self: start;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: $color_secondary;
  width: 100%;
  padding: 7px 20px 7px 20px;
  text-align: center;
}

.widget.md {
  height: ($widget-height-unit * 4) + (3 * $grid-gap);
  grid-row: span 4;
}

.widget.lg {
  width: (4 * $widget-width-unit) + (3 * $grid-gap);
  height: ($widget-height-unit * 4) + (3 * $grid-gap);
  grid-row: span 4;
  grid-column: span 4;
}